@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  cursor: default;
}

body {
  background: var(--color-white);
  color: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-neutral-900);
    color: var(--color-neutral-100);
  }
}
